<div class="container">
  <div class="row">
    <div class="col">
      
      <div class="card">
        <div class="card-header">
          Búsqueda de libros Google vía servicio propio
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="clave">Clave de búsqueda</label>
            <input type="text"
              class="form-control" name="clave" id="clave"
              [(ngModel)]="sClave">
          </div>     
          <button type="button" (click)="btnBuscar()" class="btn btn-primary">
            Buscar
          </button>      
          <button type="button" (click)="btnBuscarRx()" class="btn btn-primary">
            Buscar Rx
          </button>   
        </div>
        <div class="card-footer text-muted">
          <div *ngIf="aLibros.length">
            <h3>Libros Encontrados</h3>
              <ul class="list-group">
                <li class="list-group-item active" 
                    *ngFor="let libro of aLibros">
                  {{libro}}
                </li>
              </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
